{% extends "base.html" %}

{% block title %}SynapCortex - Inteligência para seu E-commerce{% endblock %}
{% block body_attributes %}class="landing-page-background"{% endblock %}

{% block header %}
<nav class="landing-nav">
    <a href="{{ url_for('auth.index') }}" class="logo"><img src="{{ url_for('static', filename='images/synapcortex_logo_white.png') }}" alt="SynapCortex Logo"></a>
    <button id="openLoginRegisterModal" class="cta-button">Login / Cadastre-se</button>
</nav>
{% endblock %}

{% block content %}
<section class="landing-hero">
    <h1>Bem-vindo à SynapCortex!</h1>
    <p>Descubra como a inteligência dinâmica pode transformar suas vendas.</p>
    <a href="{{ url_for('auth.demo_login') }}" class="cta-button">Faça um Test Drive do Painel</a>
</section>

{% include 'auth/_login_register_modal.html' %}
{% endblock %}

{% block footer %}{% endblock %}
